@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
}
/* body {
  background-color: #4dac37;
  color: white;
  font-family: 'Montserrat';
  font-weight: 700;
} */
.container {
  margin: 100px auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  font-size: 150px;
}

.link {
  /* border: red solid 1px; */
  margin-top: 30px;
  text-decoration: none;
  color: white;
}
